* {
   box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
   margin: 0;
}

/* Apply max-width to Replaced Elements and Form controls */
input {
   max-width: 100%;
}

/* Make file and submit inputs text-wrap */
input[type="text"] {
   white-space: pre-wrap;
}

/* Fix Progress and Range Inputs */
input[type="text"] {
   width: 100%;
}

/* Fix Number Inputs in Firefox */
@supports (--moz-appearance: none) {
   input[type="text"] {
      width: 100%;
   }
}


:root {
   --color-font: #fff;
   --color-bg: #ECFDF5;
   --color-button: #059669;
   --color-button-hover: #92400E;
   --color-bg-font: #059669;
   --color-gray: #6B7280;
   --color-h1: #2B283A;
   --color-border: #D5D4D8;
   --color-bg-output: #273549;
   --color-text-input: #5DEF92;
}

@media (prefers-color-scheme: dark) {
   :root {
      --color-font: #fff;
      --color-bg: #1F2937;
      --color-button: #059669;
      --color-button-hover: #92400E;
      --color-bg-font: #55F991;
      --color-gray: #D5D4D8;
      --color-h1: #fff;
      --color-border: #2F3E53;
      --color-bg-output: #273549;
      --color-text-input: #55F991;
   }
}

body {
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   background-color: #1C1C1C;
}

h1 {
   color: var(--color-h1);
   font-family: 'Karla', sans-serif;
   font-size: 32px;
   font-weight: 800;
   letter-spacing: -0.05em;
   line-height: 1;
   margin-bottom: 10px;
}

h1>span {
   display: block;
   color: var(--color-bg-font);
}

p {
   font-size: 16px;
   color: var(--color-gray);
   margin-bottom: 40px;
}

a {
   color: var(--color-bg-font);
}

a:hover,
a:focus {
   color: var(--color-button-hover);
}

label {
   font-size: 16px;
   color: var(--color-gray);
}

button {
   border: 0;
   font-size: 16px;
   font-weight: 500;
   color: #fff;
   background-color: var(--color-button);
   padding: 0.5rem 1rem;
   border-radius: 6px;
   display: flex;
   align-items: center;
   justify-content: center;
   ;
}

button:hover,
button:focus {
   background-color: var(--color-button-hover);
   cursor: pointer;
}

button>img {
   margin-right: 8px;
}

.password-generator {
   position: relative;
   background-color: var(--color-bg);
   max-width: 96%;
   width: 600px;
   margin: 2rem auto 1rem;
   padding: 32px 24px 24px;
}

.password-inputs {
   margin-bottom: 32px;
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
}

#generate-password {
   flex: 1 0 auto;
}

#password-length {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#password-length__input {
   width: 70px;
   padding: 12px 8px;
   border: 0;
   border: 1px solid var(--color-button);
   border-radius: 6px;
   font-weight: 500;
   margin-left: 8px;
}

.password-results {
   display: grid;
   grid-template-columns: 1fr;
   gap: 24px;
   border-top: 1px solid var(--color-border);
   padding-top: 32px;
}

.password-results__output {
   background-color: var(--color-bg-output);
   border: 0;
   color: var(--color-text-input);
   font-size: 16px;
   font-weight: 500;
   padding: 8px 16px;
   border-radius: 6px;
   text-align: center;
}

.status {
   opacity: 0;
   visibility: hidden;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   background-color: #A7F3D0;
   padding: 1rem 2rem;
   border-radius: 6px;
   text-align: center;
   transition: opacity 0.4s ease-in-out;
   font-size: 12px;
   font-weight: 500;
}

.status.active {
   opacity: 1;
   visibility: visible;
}

#copied-password {
   font-size: 18px;
   margin-top: 8px;
}

#credits {
   color: var(--color-font);
   font-size: 14px;
   text-align: center;
   margin-top: 32px;
}

@media (min-width: 600px) {

   h1 {
      font-size: 40px;
   }

   p {
      font-size: 16px;
   }

   .password-generator {
      padding: 50px 50px 32px;
   }

   .password-inputs {
      flex-wrap: nowrap;
   }

   .password-results {
      grid-template-columns: 1fr 1fr;
   }
}